<nav class="navbar">
  <ul class="nav-list">
    <li class="nav-item">
      <a routerLink="/courses"
         routerLinkActive="active"
         ariaCurrentWhenActive="page"
         class="nav-link">
        Courses
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/about"
         routerLinkActive="active"
         ariaCurrentWhenActive="page"
         class="nav-link">
        About
      </a>
    </li>
    <li class="nav-item login-link">
      <a routerLink="/login"
         routerLinkActive="active"
         ariaCurrentWhenActive="page"
         class="nav-link">
        Login
      </a>
    </li>
  </ul>
</nav>
